/* 
    Created on : 2016-01-11, 19:59:38
    Author     : chiny
*/


#out {
    height: 440px; 
    width: 440px; 
    position:relative
}

.inner {
    height: 100px; 
    width: 100px; 
    background-color: red;
    border-color: black;
    border-style: solid; 
    display:inline-block
}


.plum-outter {
    background-color: plum;
}

.square {
    background-color: royalblue;
}

#active {
    background-color: black;
}